<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>
  <%- include('../../layouts/head.ejs') -%>
</head>

<body>
  <%- include('../../layouts/header.ejs') -%>
  <%- include('../../layouts/sidebar.ejs') -%>
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Job</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Job</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <div class="col-lg-12">
          <% if( message !== null) { %>
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <%- message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% } %>
          <% if( error !== null) { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%- error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% } %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Job</h5>
              <a href="/admin/job/create" type="button" class="btn btn-primary">Create</a>
              <div class="tables-responsive">
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Image</th>
                      <th scope="col">Job Name</th>
                      <th scope="col">Category</th>
                      <th scope="col">Expired</th>
                      <th scope="col">Update At</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i = 0; i < data.length; i++) { %>
                    <tr>
                      <th scope="row"><%= i+1 %></th>
                      <td><img src="/uploads/<%= data[i].image %>" style="width: 150px;"></td>
                      <td><%= data[i].jobName %></td>
                      <td><%= data[i].JobCategories.name %></td>
                      <td><%= new Date(data[i].expired).toLocaleString('en-US', {timeZone: "Asia/Jakarta"}) %></td>
                      <td><%= new Date(data[i].updated_at).toLocaleString('en-US', {timeZone: "Asia/Jakarta"}) %></td>
                      <td>
                        <a class="btn btn-primary" href="/admin/job/update/<%= data[i].id %>">Edit</a>
                        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete<%= i %>">Delete</a>
                        <!-- modal delete -->
                        <form action="/admin/job/delete/<%= data[i].id %>" method="post">
                          <div class="modal fade" id="delete<%= i %>" tabindex="-1">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Are you sure to delete this data ?</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Delete</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <%- include('../../layouts/script.ejs') -%>

</body>

</html>